<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
      <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"!-->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <nav class ="navbar navbar-default navbar-static-top">
      <div class ="container">
        <ul class ="nav navbar-nav">
          <li><a class ="navbar-brand" href= "{% url 'simple_app:index' %}">HOME</a></li>
          <li><a class ="navbar-link" href= "{% url 'admin:index' %}">ADMIN</a></li>
          <li><a class ="navbar-link" href= "{% url 'simple_app:other' %}"  >OTHERS</a></li>
        </ul>
      </div>
    </nav>


    <div class ="container">

      {% block body_block %}
            <!-- anything outside of this will be inherited -->
      {% endblock %}
    </div>

  </body>
</html>
